{% url 'profiles:all-profiles-view' as all_profiles %}
{% url 'profiles:friend-requests-received-view' as friend_requests %}
<div class="ui inverted menu nav mb-7 ui">
  <div class="ui container">
    <a href="{% url 'home-view' %}" class="item">
        <h3>Social App</h3>
    </a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'posts:main-post-view' %}" class="item">
        <h3>Posts</h3>
    </a>
    {% endif %}

    <div class="right menu">
        {% if request.user.is_authenticated %}
        <div class="item">
            <div class="ui floating dropdown icon button white"> Friends
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="{{ all_profiles }}" class="{% if request.path == all_profiles %}active{% endif %} item">
                        All Profiles
                    </a>
                    <a href="{{ friend_requests }}" class="{% if request.path == friend_requests %}active{% endif %} item">
                        Friend Requests &nbsp; <div class="ui blue label">{{ nr_of_requests }}</div>
                    </a>
                </div>
             </div>
        </div>
             <div class="item">
              <form action="{% url 'profiles:search' %}" method="GET">
                <div class="ui action left icon input">
                <input class="prompt" type="text" name='q' placeholder="Type a name">
                <i class="search icon"></i>
                <button type='submit' class="ui button">Search</button>
                </div>
            </form>
            </div>
        
            <a href="{% url 'profiles:my-profile-view' %}" class="item">
                 <img class="ui avatar image" src="{{ request.user.profile.avatar.url }}" alt="">&nbsp;{{ request.user }}
            </a>

            <a href="{% url 'account_logout' %}" class="ui item">
                Logout
            </a>
        {% else %}
        <a href="{% url 'account_login' %}" class="ui item">
                Login
            </a>
        {% endif %}
    </div>
  </div>
</div>