body {
    background-color: #f8f8f8 !important;
}

ul {
    list-style: none;
}

.nav {
    border-radius: 0px !important;
    padding: 10px 0 10px 0 !important;
    background-color: #4267B2 !important;
}

.mb-7 {
    margin-bottom: 7px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mymodal {
    height: 300px !important;
    top: 200px !important;
    font-size: 20px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.w-big {
    width: 200px !important;
}

.bwhite-lg {
    background-color: transparent !important;
}

.bwhite-sm {
    background-color: transparent !important;
    width: 10px !important;
}

.comment-box {
    display: none;
}

.friends-list {
    background-color: #4267B2;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}

.friends-list:hover, .friends-list:active {
    background-color: rgb(189, 189, 189);
    color: #4267b2;
}

.post-content {
    color: #4267B2;
    font-weight: bold;
}

#comment-body {
    color: black;
}

.comment-user{
    font-weight: bold;
    color: black;
}

